.feature-item {
  display: inline-block;
  margin-bottom: 50px;
}
.feature-item .left-icon img {
  float: left;
  margin-right: 30px;
}
.feature-item .right-content {
  display: inline;
}
.feature-item .right-content h4 {
  margin-top: 0px;
  margin-bottom: 7px;
  letter-spacing: 0.25px;
  color: #232d39;
  font-size: 19px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
}
.feature-item .right-content a.text-button {
  margin-top: 7px;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  color: #ed563b;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
}
.feature-item .right-content p {
  text-align: left;
}
